/*===================================FONDOS=======================================================*/

.fondoEstandar {
    -fx-background-color: linear-gradient(to bottom, #001a33, #4D0A62);
    -fx-border-color: linear-gradient(to bottom, #00bfff, #001a33); /*black*/
    -fx-border-width: 2px;
}
.fondoChat {
    -fx-background-color: #2C2958;
    -fx-border-color: black;
    -fx-border-width: 2px;
}
/*===================================BOTONES=======================================================*/
.BTN_Inicio {
    -fx-background-color: #00bfff; /* Azul claro */
    -fx-text-fill: #ffffff; /* Color del texto blanco */
    -fx-font-weight: bold; /* Fuente en negrita */
    -fx-font-size: 16px; /* Tamaño de la fuente */
    -fx-border-color: #000000; /* Negro */
    -fx-background-radius: 15; /* Radio para las esquinas del fondo del botón */
    -fx-border-radius: 15; /* Radio para las esquinas del borde del botón */
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0); /* Sombra alrededor del botón */
}

/*===================================TEXT=======================================================*/
.TXT_LetraBlanca {
    -fx-text-fill: #ffffff; /* Color del texto blanco */
    -fx-font-family: "Arial"; /* Tipo de letra Arial */
    -fx-font-size: 25px; /* Tamaño de la fuente */
}

/*===================================TEXT_FIELD=======================================================*/
.TXTF_NombreUsuario {
    -fx-border-color: #00bfff;
    -fx-background-color: #001a33;
    -fx-background-radius: 10; /* Radio para las esquinas del fondo del botón */
    -fx-border-radius: 10; /* Radio para las esquinas del borde del botón */
}
.TXTF_EscribeAqui {
    -fx-background-color: #001a33;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 10; /* Radio para las esquinas del fondo del botón */
    -fx-border-radius: 10; /* Radio para las esquinas del borde del botón */
    -fx-margin: 15; /* Margen de 5 en todos los lados */
    -fx-padding: 15; /* Margen de 5 en todos los lados */
    -fx-text-fill: #ffffff; /* Color del texto blanco */
    -fx-font-family: "Arial"; /* Tipo de letra Arial */
    -fx-font-size: 15px; /* Tamaño de la fuente */
}





